@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
    color: ghostwhite;
    font-weight: 600;
    font-family: 'Sen', sans-serif;
}

body {
    background-image: url(images/sergio-souza-bmPepl7vhUs-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

.base-box {
    width: 600px;
    height: 600px;
    border: solid 2px black;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: slategray;
}

.grid-square {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    height: auto;
    border-radius: 40%;
    border: 2px solid  slategray;
}
  
.row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.two-buttons { 
    text-align: center;
    margin: 10px;    
}

button {
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

#randomColor {
    background-color: dodgerblue;
}

#reset {
    background-color: whitesmoke;
    color: black;
    width: 110px;
}