* {
    color: ghostwhite;
    background-color: rgb(128, 0, 96);
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

.base-box {
    width: 600px;
    height: 600px;
    border: solid 2px black;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: slategray;
}

.grid-square {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    height: auto;
    border-radius: 40%;
    border: 2px solid  rgb(128, 0, 96);
}
  
.row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    display: flex;
    text-align: center;
    margin: 10px auto;
    display: inline block;
    padding: 10px auto;
    position: relative;
}

#randomColor {
    background-color: dodgerblue;
}

#reset {
    background-color: whitesmoke;
    color: black;
}